.banner {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    background-color: #FAFAFA;
    background-image: url(../../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: right 10px;
    background-position-y: top -63px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: fit-content;
    height: fit-content;
}

.heading {
    width: 542px;
    height: 160px;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: start;
}

.buttoni {

    background-color: #ff685b;
    color: white;
    padding: 15px 30px;
    border: 1px;
    border-radius: 5px;

}

.button2 {
    background-color: transparent !important;
    color: #ff685b !important;
    padding: 10px 35px !important;
    border: 1px solid #ff685b !important;
    border-radius: 5px;
}

.cards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.allContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.space {
    width: 32%;
}