.span {
    width: 209px;
    height: 24px;
    opacity: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF685B;
    text-align: start;
}