.stat-item {
    text-align: center;
}

.stat-item h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ff685b;
    margin-bottom: 8px;
}

.stat-item p {
    font-size: 14px;
    font-weight: 600;
    color: #252b42;
}