.testimoonials {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimoonials h3 {
    color: #FF685B;
    font-size: 16px;
    width: 115px;
}

.testimoonials p {
    width: 150px;
    font-family: "Montserrat", sans-serif;
    color: #737373;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;

}

.testimonialContent {
    display: flex;
}

.testimonialName {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.stars {
    color: #F3CD03;
}